# Variables de entorno (¡nunca subir al repo!)
.env

# Base de datos local
*.db

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Sistema operativo
.DS_Store
Thumbs.db
